body{
    margin:0;
}

.titolo{
    font-family:'BebasNeue-Regular' ;
    font-size: 200px;
    color:brown;
    text-align:center;
    padding: 6px;
    background:rgba(255,255,255,0.7);
    border-radius:10px;
    
}

.imgtitle {
    background-position: center;
    background-size: contain;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgtitle.balilla {
    background-image: url("../FIAT/Balilla/img/balilla.png");
}

.imgtitle.c61750 {
    background-image: url("../ALFA_ROMEO/6c_1750/img/6cmusoolini.png");
}

.titolo2{
    color:brown;
    font-family:'BebasNeue-Regular';
    font-size:100px;
    text-align:center;
}

.storia{
    display:flex;
    text-align: center; 
    align-items: center;
    justify-content: space-between;
    color: rgb(183, 84, 84);
    font-family: 'BebasNeue-Regular', Arial, sans-serif;
    font-size: 30px;
    padding:20px;
    background:rgba(255,255,255,0.3);       
}


.imgstoria{
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgstoria.balilla{
    background-image: url("../FIAT/Balilla/img/balilla1.png");
}

.imgstoria.c61750{
    background-image: url("../ALFA_ROMEO/6c_1750/img/6csfondo.png");
}

.sinistra{
    height: 100%;
    width: auto;
    max-width: 700px;
    padding: 6px;
    background:rgba(255,255,255,0.7);
    border-radius:10px; 
}

.destra img{
    width: 550px;
    height: auto;
    display: block;
    border: 5px solid black;
}

.destra{
    flex:1;
    max-width: 550px;
    width:auto;  
}

.storia.reverse{
    flex-direction:row-reverse;   
}


.datitecnici{
    display:flex;    
    flex-direction:column;
    text-align: center;
    background-color: beige;
    background-position:center;
    background-size:cover;
    font-family: 'BebasNeue-Regular', Arial, sans-serif;
    font-size: 50px;
    color: brown;
    background-color: beige;
}



.tabella{
    flex:1;
    text-align:center;
    font-family: 'BebasNeue-Regular', Arial, sans-serif;
    font-size: 60px;
    color: brown;
    margin-left:30px;
    background-color:rgba(255,255,255,0.5);
    border-collapse: collapse;
    margin:20px;
}

table, th ,td{
    border: 1px solid black;
}


.imgtabella{
    height: 250px;
    width: auto;
}

.data{
    font-size: 50px;
    color:rgb(190, 62, 62)
}

.tabella a{
    display:block;
    width: 100%;
    height: 100%;
    font-size: 70px;
    color: brown;
    text-decoration:none;
}

@font-face {
    font-family: 'BebasNeue-Regular';          
    src: url('../font/BebasNeue-Regular.woff2') format('woff2'),
         url('../font/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



